@model PagedList.IPagedList<TOProjects.Models.Project>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />



@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    <form action="/Projects/Index" method="get">
<p>
        @Html.TextBox("SearchStringName", null, new { @title = "Find By Name", @Id="FindByName", @class="ProjectAutoComplete"})
        @Html.TextBox("SearchStringNumber", null, new { @title = "Find By Number", @Id = "FindByNumber", @class = "ProjectAutoComplete3" })
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
     </form>
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, searchStringName = ViewBag.searchStringName, searchStringNumber = ViewBag.searchStringNumber })
        </th>
        <th>
           @Html.ActionLink("Number", "Index", new { sortOrder = ViewBag.NumberSortParm, searchStringName = ViewBag.searchStringName, searchStringNumber = ViewBag.searchStringNumber })
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
