@*@model TOProjects.Models.Lead*@
@model TOProjects.ViewModel.ToprojectsViewModel



@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div style="width: 35%; float:left;">
    <h4>Lead</h4>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ld.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
       <hr />
 
    <dl class="dl-horizontal" >
        <dt>
           Created Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ld.CreatedDate)
        </dd>

        <dt>
          Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ld.Address)
        </dd>

      @*  <dt>
          Send Credit Application
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendCreditApp)
        </dd>

        <dt>
          Customer Insurance Information
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerInsInfo)
        </dd>*@

        <dt>
          Bid Due
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ld.BidDueDate)
        </dd>

        <dt>
          Bid Opening
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ld.BidOpeningDate)
        </dd>

        <dt>
          Follow Up
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ld.FollowUpDate)
        </dd>

        <dt>
          Quantity
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ld.Quantity)
        </dd>
        @*
        <dt>
          Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        *@
       <dt>
           Customer(s)
        </dt>

        <dd style="margin-left:20px;">
            @* @Html.DisplayFor(model => model.Customer.Name) *@
            <br />
            @*add back to query contacts*@
         @Html.Raw(ViewBag.Results)
         @*   @foreach (var item in ViewBag.Results)
    {
      <table class='table'>
            <tbody>
                <tr scope='row'>
                    <td>Customer</td>
                    <td>@item.Name</td>
                    <td>&nbsp;</td>
                </tr>
                <tr scope='row'>
                    <td>&nbsp;</td>
                    <td>First Name </td>
                    <td>@item.FirstName</td>
                </tr>
                <tr scope='row'>
                    <td>&nbsp;</td>
                    <td>Last Name</td>
                    <td>@item.LastName</td>
                </tr>
                <tr scope='row'>
                    <td>&nbsp;</td>
                    <td>Email</td>
                    <td>@item.Email</td>
                </tr>
                <tr scope='row'>
                    <td>&nbsp;</td>
                    <td>Mobile Phone</td>
                    <td>@item.MobilePhone</td>
                </tr>
                <tr scope='row'>
                    <td>&nbsp;</td>
                    <td>Work Phone</td>
                    <td>@item.WorkPhone</td>
                </tr>
                <tr scope='row'>
                    <td>&nbsp;</td>
                    <td>Title</td>
                    <td>@item.Title</td>
                </tr>
                <tr scope='row'>
                    <td>&nbsp;</td>
                    <td>Notes</td>
                    <td>@item.Notes</td>
                </tr>
            </tbody>
        </table>}*@

            @*     @Html.ListBox("CustomerId", (MultiSelectList)ViewBag.Customers, htmlAttributes: new { @style="width:300px;", @disabled = "disabled", @class = "form-control chosenSelect" })*@
            @*@@Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })*@

            <br />
        </dd>

        <dt>
          First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ld.Employee.FirstName)
        </dd>

        <dt>
           Source
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ld.LeadSource.Name)
        </dd>

        <dt>
          Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ld.LeadStatu.Name)
        </dd>

        <dt>
           Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ld.LeadType.Name)
        </dd>

        <dt>
           Project
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ld.Project.Name)
        </dd>

    </dl>
    
</div>
<div style="width:65%; height:750px; float:left;">
    <iframe id="LeadDetailLeadNotesIFRAME" style="height:750px;width:100%;"src="/LeadNotes/Index"></iframe>
</div>

